:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar {
    top: 0;
    position: fixed;
    display: flex;
    padding-bottom: 32px;
    align-items: center;
}

.logo_container {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 32px;
}

.logo {
    color: inherit;
    width: 60px;
    height: 41;
}

.navlist {
    position: relative;
}

.navlist>* {
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    color: #f4f3f2;
    padding-right: 10px;
}
